div#searchDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;

    margin:30px auto auto auto;
    gap:25px;
    min-width:275px;
}

div#rem-compDiv{

}
div#remainingDiv{

}

div#completedDiv{

}